---
---

@import "variables-estonoesunacharla";

@font-face {
    font-family: mayafont;
    src: url(fonts/Dominque.otf);
}

#about {
    background-color: $maya1-color;
    color: $maya4-color;
}

#latest-post {
    background-color: $maya2-color;
    color: $maya5-color;
}

#timeline {
    background-color: $maya1-color;
    color: $maya4-color;
}

#team {
    background-color: $maya2-color;
    color: $maya5-color;
}

#contact {
    background-color: $maya1-color;
    color: $maya4-color;
}

#footer {
    background-color: $maya2-color;
    color: $maya5-color;
}

.intro .intro-body .intro-text {   
    font-size: 24px; 
    @media(min-width:768px) {  
        font-size: 32px;
    } 
} 

.typed-cursor{ 
    font-size: 24px; 
    @media(min-width:768px) {
        font-size: 32px;
    }
}

.content-section {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media(min-width:767px) {
        margin-top: 0px;
        padding-top: 125px;
        padding-bottom: 125px;
    } 
}

.content-section img.emoji {  
    border: 0px !important;
}

h2 {    
    font-family: "mayafont","Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}