---
---

// Main colors
$maya1-color: #d2e6e7; 
$maya2-color: #5b7778;
$maya3-color: #eebd3d;
$maya4-color: #000000;
$maya5-color: #ffffff; 
 
@font-face {
    font-family: mayafont;
    src: local('Dominique'), url(../fonts/Dominique.otf) format('otf');
}

.navbar-brand img{
  width: 28px;
  height: 28px;
  margin-top: -6px;
}

header{
  background-size: cover;
  background-position: center center;
}
 
.eneucsection:nth-child(odd) {
    background-color: $maya1-color;
    color: $maya4-color;
    a {
        color: $maya2-color;
        &:hover,
        &:focus {
        text-decoration: none;
        color: darken($maya2-color,20%); 
        }
    }
}

.eneucsection:nth-child(even) {
    background-color: $maya2-color;
    color: $maya5-color;
}

footer {
    background-color: $maya2-color;
    color: $maya5-color;
}

#post {
    background-color: $maya1-color;
    color: $maya4-color;
    a {
        color: $maya2-color;
        &:hover,
        &:focus {
        text-decoration: none;
        color: darken($maya2-color,20%); 
        }
    }
}

.intro .intro-body .intro-text {   
    font-size: 24px; 
    text-shadow: 0px 0px 5px #FFFFFF;
    @media(min-width:768px) {  
        text-shadow: 0px 0px 5px #FFFFFF;
        font-size: 32px;
    } 
} 

.typed-cursor{ 
    font-size: 24px; 
    text-shadow: 0px 0px 5px $maya3-color;
    color: $maya3-color;
    @media(min-width:768px) {
        font-size: 32px;
        text-shadow: 0px 0px 5px $maya3-color;
        color: $maya3-color;
    }
}

.content-section {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media(min-width:767px) {
        margin-top: 0px;
        padding-top: 125px;
        padding-bottom: 125px;
    } 
}

.content-section img.emoji {  
    border: 0px !important;
}

h2 {    
    font-size: 35px;
    font-family: "mayafont","Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.intro-text-container {
    min-height: 200px;
}

@media (max-width: 999px){
  .navbar-toggle {
    display: block !important;
    right: 0;
    position: absolute;
  }

  .navbar-collapse.collapse{
    display: none !important;
  }
}

@media (min-width: 1000px){
  .navbar-toggle {
    display: none !important;
  }

  .navbar-collapse.collapse{
    display: block !important;
  }
}
