---
---

// Main colors
$maya1-color: #d2e6e7;
$maya2-color: #5b7778;
$maya3-color: #eebd3d;
$maya4-color: #000000;
$maya5-color: #ffffff;

@font-face {
    font-family: mayafont;
    src: local('Dominique'),
         url('../fonts/dominique-webfont.ttf') format('ttf'),
         url('../fonts/dominique-webfont.woff2') format('woff2'),
         url('../fonts/dominique-webfont.woff') format('woff'),
         url('../fonts/dominique-webfont.svg#dominiqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand img{
  width: 28px;
  height: 28px;
  margin-top: -6px;
}

.intro {
  background-position: center center;
  padding: 0;
  display: block;
  .fog {
    display: table;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.7), rgba(0,0,0,0));
    }
}

.eneucsection{
  width: 100%;
}

.eneucsection:nth-child(odd) {
    background-color: $maya1-color;
    color: $maya4-color;
    a {
        color: $maya2-color;
        &:hover,
        &:focus {
        text-decoration: none;
        color: darken($maya2-color,20%);
        }
    }
}

.eneucsection:nth-child(even) {
    background-color: $maya2-color;
    color: $maya5-color;
}

footer {
    background-color: $maya2-color;
    color: $maya5-color;
}

#post {
    background-color: $maya1-color;
    color: $maya4-color;
    a {
        color: $maya2-color;
        &:hover,
        &:focus {
        text-decoration: none;
        color: darken($maya2-color,20%);
        }
    }
}

.intro .intro-body .intro-text {
    font-size: 24px;
    text-shadow: 0px 0px 5px #FFFFFF;
    @media(min-width:768px) {
        text-shadow: 0px 0px 5px #FFFFFF;
        font-size: 32px;
    }
}

.typed-cursor{
    font-size: 24px;
    text-shadow: 0px 0px 5px $maya3-color;
    color: $maya3-color;
    @media(min-width:768px) {
        font-size: 32px;
        text-shadow: 0px 0px 5px $maya3-color;
        color: $maya3-color;
    }
}

.content-section {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    @media(min-width:767px) {
        margin-top: 0px;
        padding-top: 125px;
        padding-bottom: 125px;
    }
}

.content-section img {
    border: 0px !important;
}

h2 {
    font-size: 35px;
    font-family: "mayafont","Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

    span{
      display: inline-block;
    }
}

div.intro-text-container {
    min-height: 200px;
}

@media (max-width: 999px){
  .navbar-toggle {
    display: block !important;
    right: 0;
    position: absolute;
  }

  .navbar-collapse.collapse{
    display: none !important;
  }
}

@media (min-width: 1000px){
  .navbar-toggle {
    display: none !important;
  }

  .navbar-collapse.collapse{
    display: block !important;
  }
}

.team-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  .team-member{
    width: 160px;
    margin: 5px 15px 15px;
  }

  a{
    display: block;
    border-radius: 10px;
    padding: 5px;
    display: block;
  }

  a:hover{
    background: rgba(210,230,231,0.25);
    color: #eebd3d;
  }

  figure{
    text-align: center;
  }

  .circle{
    display: inline-block;
    width: 75%;
    padding: 6px;
    background: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  img{
    border-radius: 100%;
  }

  figcaption{
    font-size: 18px;
  }

  figcaption.description{
    font-size: 14px;
    color: #fff;
  }
}

#barraaceptacion {
  display:none;
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  padding:20px 0;
  width:100%;
  text-align:center;
  min-height:40px;
  background-color: rgba(0, 0, 0, 0.5);
  color:#fff;
  z-index:99999;
  box-sizing: content-box;

  .inner {
    width:100%;
    font-family:verdana;
    font-size:12px;
    padding: 0 10px;
  }

  .inner a.ok {
    padding:4px;
    color:#eebd3d;
    text-decoration:none;
  }

  .inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#d2e6e7;
  }
}

#page{
  min-height: calc( 100% - 196px );
}