
<!-- Latest Post Preview Start -->

<section class="eneucsection" id="{{ page.section-type }}">
    <div class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4> <strong> {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Ene
  {% when '2' %}Feb
  {% when '3' %}Mar
  {% when '4' %}Abr
  {% when '5' %}May
  {% when '6' %}Jun
  {% when '7' %}Jul
  {% when '8' %}Aug
  {% when '9' %}Sep
  {% when '10' %}Oct
  {% when '11' %}Nov
  {% when '12' %}Dec
{% endcase %}
{{ page.date | date: "%Y" }} </strong><strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <!-- <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comentarios</a></small> -->
        </h4>

        <section class="text-justify">
          {{ post.content | markdownify }}
        </section>

        <br />

        <h4><a href="{{site.baseurl}}/blog/">Ver todas las no-charlas</a></h4>

      </div>
    </div>
    </div>
</section>

<!-- Latest Post Preview End -->
