// Variables

// Main colors
$maya1-color: #d2e6e7; 
$maya2-color: #5b7778;
$maya3-color: #eebd3d;
$maya4-color: #000000;
$maya5-color: #ffffff;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
