// Variables

// Main color
$primary-color: #d2e6e7; 

// Anchor color
$secondary-color: #eebd3d;

// Font color
$font-color: #000000;

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: rgba(210,230,231,0.95);
$navbar-lg-background: $navbar-lg-collapse-background-color;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
