
<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section id="post" class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <h1><strong>{{ page.title }}</strong></h1>
          <h4>
            <strong> {% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Enero
  {% when '2' %}Febrero
  {% when '3' %}Marzo
  {% when '4' %}Abril
  {% when '5' %}Mayo
  {% when '6' %}Junio
  {% when '7' %}Julio
  {% when '8' %}Agosto
  {% when '9' %}Septiembre
  {% when '10' %}Octubre
  {% when '11' %}Noviembre
  {% when '12' %}Diciembre
{% endcase %}
{{ page.date | date: "%Y" }} </strong>
              {% for tag in page.tags %}
                <a class="tag" href="{{site.baseurl}}/tags/{{tag | downcase}}.html">#{{ tag }}</a>
              {% endfor %}
            </small>
          </h4>

          <section class="text-justify">
            {{ page.content | markdownify }}
          </section>

        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Post Layout End -->
